.hide {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}
input[type=text] {
  width: 100%;
  padding: 0.75em 1.25em;
  margin: 0.5em 0;
  display: inline-block;
  border: 0.063em solid rgb(204, 204, 204);
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color:rgb(168, 86, 18);
  color: white;
  padding: 0.875em 1.25em;
  margin: 0.5em 0;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
body {
  font-family: 'LatoLatinWeb';
  font-size: 1em;
}