<html>

<head>
    <meta charset="utf-8">
    <link href="static/styles/latolatinfonts.css" rel="stylesheet" type="text/css">
    <link href="static/styles/latostyle.css" rel="stylesheet" type="text/css">
    <link href="static/styles/dist/spectre.css" type="text/css" rel="stylesheet">
    <link href="static/styles/style.css" type="text/css" rel="stylesheet">
    <script>
        function initMap() {
            directionsService = new google.maps.DirectionsService();
            directionsDisplay = new google.maps.DirectionsRenderer();
            var chicago = new google.maps.LatLng(41.850033, -87.6500523);
            var mapOptions = {
                zoom: 7,
                center: chicago
            }
            var map = new google.maps.Map(document.getElementById('map'), mapOptions);
            directionsDisplay.setMap(map);
            directionsDisplay.setPanel(document.getElementById('directionsPanel'));
            {{ markers | safe }}
        }
        function calcRoute() {
            var start = new google.maps.LatLng({{ start_lat }}, {{ start_lng }});
            var end = new google.maps.LatLng({{ end_lat }}, {{ end_lng }});
            var request = {
                origin: start,
                destination: end,
                travelMode: 'DRIVING'
        };
        directionsService.route(request, function (response, status) {
            console.log(response);
            if (status == 'OK') {
                directionsDisplay.setDirections(response);
            }
        });
    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
    </script>

</head>

<body onload="calcRoute()">


    <div class="container">
        <div class="columns">
            <div class="column col-12 col-md-12" style="padding: 1em">
                <img class="img-responsive centered" src="static/images/Logo1.png" alt="logo" width="50%" height="30%">
            </div>
        </div>

        <div class="columns">
            <div class="col-12 col-md-12 text-center" style="padding: 1em">
                <p>Hover mouse over markers to see more information about the crashes.</p>
            </div>
        </div>

        <div class="columns">
            <div class="col-6 col-md-12" style="height:50vh;padding: 1em;">
                    <div id="map" style="float:left;width:100%; height:100%"></div>
            </div>
            <div class="col-6 col-md-12" style="padding: 1em">
                <p>Total Crashes: {{ totalCrashes }}</p>
                <p>Total Fatalities: {{ totalFatals }}</p>
                <p>Worst Time to Drive: {{ totalWorst }}</p>
                <p>Most Occured Crash Type: {{ mostOccur }}</p>
                <p>Average Ambulance Response Time: {{ helpTime }} min</p>
            </div>
        </div>

        <div class="columns">
            <div class="column col-12" style="padding: 1em">
                <div id="directionsPanel"></div>
            </div>
        </div>
    </div>
    
</body>

</html>